<div id="map-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Vali asukoht kaardilt</h4>
            </div>
            <div class="modal-body">
                <div id="mapCanvas"></div>
                <p class="help-block">Vali sündmuse asukoht topelt-klõpsuga kaardil.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulge</button>
                <button type="button" class="btn btn-primary" disabled="disabled">Kinnita</button>
            </div>
        </div>
    </div>
</div>
