<div id="event-filter" class="well well-sm vspace-10">
    <div class="input-group input-group-sm col-md-4">
        <span class="input-group-addon"><strong>Filtreerimine:</strong></span>
        <input id="event-type-filter" name="event-type-filter" type="text" class="form-control" placeholder="Sisesta otsitava sündmuse tüüp" autocomplete="off" />
    </div>
</div>

<table id="subjects" class="table table-hover">
    <thead>
        <tr>
            <th><a data-id="name" class="subject-sort" href="#">Nimi <i class="fa fa-sort"></i></a></th>
            <th><a data-id="birth_date" class="subject-sort" href="#">Sünniaeg <i class="fa fa-sort"></i></a></th>
            <th><a data-id="gender" class="subject-sort" href="#">Sugu <i class="fa fa-sort"></i></a></th>
            <th><a data-id="address" class="subject-sort" href="#">Elukoht <i class="fa fa-sort"></i></a></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="subjects-pager" class="text-center">
    <ul class="pagination"></ul>
</div>
