<div id="user-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Leia kaebealune isik</h4>
            </div>
            <div class="modal-body">
                <form id="search-user-form" class="form-horizontal" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Otsitava isiku nimi">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Otsi</button>
                            <button class="btn btn-default" type="button">Lisa uus</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulge</button>
            </div>
        </div>
    </div>
</div>
