<table id="complaints" class="table table-hover">
    <thead>
        <tr>
            <th><a data-id="title" class="complaint-sort" href="#">Episoodi pealkiri <i class="fa fa-sort"></i></a></th>
            <th><a data-id="date" class="complaint-sort" href="#">Kellaaeg <i class="fa fa-sort"></i></a></th>
            <th><a data-id="subject" class="complaint-sort" href="#">Subjekt <i class="fa fa-sort"></i></a></th>
            <th>Sündmuse tüüp</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
        <li class="disabled"><a href="#">&raquo;</a></li>
    </ul>
</div>
