<table id="subjects" class="table table-hover">
    <thead>
        <tr>
            <th><a data-id="name" class="subject-sort" href="#">Nimi <i class="fa fa-sort"></i></a></th>
            <th><a data-id="birth_date" class="subject-sort" href="#">Sünniaeg <i class="fa fa-sort"></i></a></th>
            <th><a data-id="gender" class="subject-sort" href="#">Sugu <i class="fa fa-sort"></i></a></th>
            <th><a data-id="address" class="subject-sort" href="#">Aadress <i class="fa fa-sort"></i></a></th>
            <th><a data-id="num_complaints" class="subject-sort" href="#">Kaebuste arv <i class="fa fa-sort"></i></a></th>
            <th><a data-id="last_complaint" class="subject-sort" href="#">Viimane kaebus <i class="fa fa-sort"></i></a></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="subjects-pager" class="text-center">
    <ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
        <li class="disabled"><a href="#">&raquo;</a></li>
    </ul>
</div>
