<table id="tags" class="table table-hover">
    <thead>
        <tr>
            <th><a data-id="name" class="tag-sort" href="#">Nimetus <i class="fa fa-sort"></i></a></th>
            <th><a data-id="status" class="tag-sort" href="#">Seisund <i class="fa fa-sort"></i></a></th>
            <th><a data-id="created_at" class="tag-sort" href="#">Lisatud <i class="fa fa-sort"></i></a></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div id="tags-pager" class="text-center">
    <ul class="pagination">
        <li class="disabled"><span>&laquo;</span></li>
        <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
        <li class="disabled"><a href="#">&raquo;</a></li>
    </ul>
</div>
